@import '../../lib/mixin';

$green: #ffc72c;
$white: #fff;
$black: #282828;

.container-slider {
  width: 100%;
  height: 600px;
  background-color: $black;

  @include for-mobile-tablet-all {
    height: 440px;
  }

  .container-inner {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
  }

  .box__slider {
    height: 100%;

    .box__slider-item {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 600px;
      padding: 138px 10px 239px 10px;
      box-sizing: border-box;
      text-align: center;

      @include for-mobile-tablet-all {
        height: 440px;
        padding: 83px 35px 106px;
      }

      &.item__1 {
        background: $black url('/images/bg/bg_banner_main1.png') no-repeat center center / auto 600px;
      }

      &.item__2 {
        background: $black url('/images/bg/bg_banner_main2.jpg') no-repeat center center / auto 600px;
      }

      &.item__3 {
        background: $black url('/images/bg/bg_banner_main3.jpg') no-repeat center center / auto 600px;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .5;
      }

      h1 {
        @include transperantAnimation('ani');
        font-weight: bold;
        color: $white;
        height: 75px;
        font-size: 50px;
        line-height: 75px;
        animation: ani 1.5s ease-in-out .2s;
        animation-fill-mode: backwards;

        @include for-mobile-tablet-all {
          height: auto;
          font-size: 30px;
          line-height: 40px;
        }
      }

      h2 {
        @include transperantAnimation('ani');
        color: $white;
        height: 35px;
        margin-top: 3px;
        font-size: 25px;
        font-weight: 100;
        line-height: 35px;
        animation: ani 1s ease-in-out .2s;
        animation-fill-mode: backwards;

        @include for-mobile-tablet-all {
          height: auto;
          margin-top: 15px;
          font-size: 20px;
        }
      }

      .box__link {
        @include transperantAnimation('ani');
        margin-top: 49px;
        animation: ani 1s ease-in-out .8s;
        animation-fill-mode: backwards;

        @include for-mobile-tablet-all {
          margin-top: 28px;
        }

        a {
          position: relative;
          z-index: 3;
          display: inline-block;
          width: 340px;
          height: 60px;
          padding: 15px 140px 15px 20px;
          border-radius: 5px;
          border: 1px solid $white;
          box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
          box-sizing: border-box;
          font-size: 20px;
          font-weight: bold;
          color: $white;
          line-height: 25px;

          @include for-mobile-tablet-all {
            width: auto;
            font-size: 16px;
            padding: 16px 30px 15px 12px;
          }

          &:before {
            content: "+";
            position: absolute;
            top: 50%;
            right: 97px;
            z-index: 4;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-top: -8px;
            border-radius: 50%;
            background-color: $white;
            color: #000;
            font-size: 14px;
            line-height: 15px;
            font-weight: 100;

            @include for-mobile-tablet-all {
              right: 10px;
            }
          }

          &:after {
            content: "Learn More";
            position: absolute;
            top: 50%;
            right: 18px;
            z-index: 4;
            display: inline-block;
            height: 16px;
            margin-top: -9px;
            font-size: 14px;
            color: $white;
            font-weight: 100;
            line-height: 16px;
            letter-spacing: .5px;

            @include for-mobile-tablet-all {
              display: none;
            }
          }

          + a {
            margin-left: 30px;

            @include for-mobile-tablet-all {
             margin-left: 10px;
            }
          }
        }
      }
    }

    .control-dots {
      bottom: 52px;

      @include for-mobile-tablet-all {
        top: unset !important;
        margin-top: auto !important;
        bottom: 25px !important;
      }

      .dot {
        width: 12px;
        height: 12px;
        opacity: .7;
        box-shadow: none;

        &.selected {
          background: $green;
        }

        &:hover {
          opacity: 1;
        }

        &:hover,
        &:active {
          outline: none;
          border: none;
        }
      }
    }

    .carousel-status {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.area__welcome {
  position: relative;
  z-index: 2;
  padding: 113px 0 129px;
  background: transparent url('/images/bg/bg_line.svg') repeat-x;

  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 43px;
    z-index: -1;
    width: 731px;
    height: 593px;
    background: transparent url('/images/bg/bg_paperparts.svg') no-repeat bottom right;
  }

  @include for-mobile-tablet-all {
    padding: 101px 0 75px;
    background: transparent url('/images/bg/bg_line_small.svg') repeat-x 0 0 / cover;

    &:after {
      display: none;
    }
  }

  .area__contents {
    text-align: center;
  }

  .box {
    display: inline-block;
    vertical-align: middle;

    @include for-mobile-tablet-all {
      display: block;
    }

    &.box__image {
      width: 415px;
      height: 505px;
      margin-left: 92.5px;
      overflow: hidden;

      @include for-mobile-tablet-all {
        position: relative;
        z-index: 3;
        width: percentage(177 / 360);
        height: 0;
        padding-top: percentage(216 / 360);
        margin: 0 auto;
        box-sizing: border-box;
      }

      .frame__image {
        display: block;
        width: 100%;
        height: 100%;
        // border: 1px solid #979797;
        border-radius: 30px;
        box-sizing: border-box;
        overflow: hidden;

        @include for-mobile-tablet-all {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 4;
        }

        .wrap__image {
          position: relative;
          z-index: 5;
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;

          > * {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 6;
            display: block;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            margin: auto;
          }
        }
      }
    }

    &.box__info {
      width: 450px;
      margin-left: 150px;
      margin-right: 92.5px;
      text-align: left;

      @include for-mobile-tablet-all {
        width: 100%;
        margin: 49px auto 0;
        text-align: center;
        padding: 0 percentage(26 / 360) 0 percentage(28 / 360);
        box-sizing: border-box;
      }

      h1 {
        color: $black;
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 25px;
        text-transform: capitalize;

        @include for-mobile-tablet-all {
          font-size: 30px;
        }
      }

      p {
        font-size: 20px;
        line-height: 1.5;

        @include for-mobile-tablet-all {
          font-size: 18px;
        }
      }

      .box-inner__button {
        margin-top: 56px;

        a {
          display: inline-block;
          width: 153px;
          height: 41px;
          padding: 8px 0 11px;
          border-radius: 20.5px;
          border: 1px solid #979797;
          background-color: #fff;
          box-sizing: border-box;
          text-align: center;

          span {
            color: #000;
            font-size: 20px;
            font-weight: bold;
            line-height: 22px;
          }
        }
      }
    }
  }
}

.area__awards {
  position: relative;
  z-index: 2;
  padding: 122px 0 151px;

  &:after {
    content: "";
    position: absolute;
    bottom: -150px;
    left: 0;
    z-index: -1;
    display: block;
    width: 553px;
    height: 500px;
    background: #fff url('/images/bg/bg_paperparts_small.svg') no-repeat left bottom;
  }

  @include for-mobile-tablet-all {
    padding: 65px 0 68px 0;

    &:after {
      display: none;
    }
  }

  .box__info {
    margin-top: 79px;

    @include for-mobile-tablet-all {
      margin: 92px percentage(43 / 360) 0;
    }

    .box__info-list {
      font-size: 0;
      text-align: center;

      @include for-mobile-tablet-all {
        width: 100%;
      }

      .box__info-list-item {
        display: inline-block;
        width: 274px;
        height: 195px;
        padding: 95px 25px 30px;
        margin-left: 18px;
        background: transparent url('/images/bg/bg_main_awards_star.svg') no-repeat center center;
        box-sizing: border-box;
        text-align: center;
        vertical-align: top;

        &:first-child {
          margin-left: 0;
        }

        @include for-mobile-tablet-all {
          position: relative;
          z-index: 3;
          display: block;
          width: 100%;
          height: 0;
          margin: 0;
          padding-top: percentage(195 / 274);
          background: transparent url('/images/bg/bg_main_awards_star.svg') no-repeat center center / 100% 100%;
        }

        span,
        b {
          display: block;
          line-height: 31px;
          color: #000;

          @include for-mobile-tablet-all {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 4;
            width: 100%;
            padding: 0 percentage(40 / 274);
            text-align: center;
            box-sizing: border-box;
            line-height: 1.5;
          }
        }

        span {
          font-size: 17px;

          @include for-mobile-tablet-all {
            margin-bottom: percentage(67 / 274);
          }
        }

        b {
          margin-top: 5px;
          font-size: 22px;
          font-weight: bold;

          @include for-mobile-tablet-all {
            margin-bottom: percentage(32 / 274);
          }
        }

        &:last-child {
          span {
            line-height: 21px;

            @include for-mobile-tablet-all {
              padding: 0 percentage(45 / 274);
            }
          }
        }
      }
    }
  }
}

.area__partners {
  padding: 79px 0 11px;

  @include for-mobile-tablet-all {
    padding: 68px 0 0 0;
  }

  .box__info {
    margin-top: 79px;
    background-color: #fafafa;
    height: 100px;

    @include for-mobile-tablet-all {
      margin-top: 107px;
      padding: percentage(60 / 360) 0 percentage(75 / 360);
      height: auto;
    }
    .area-inner {
      height: 100%;
    }
  }
  .box__info_newLine {
    margin-top: 0px;
    background-color: #fafafa;
    height: 100px;

    @include for-mobile-tablet-all {
      margin-top: 107px;
      padding: percentage(60 / 360) 0 percentage(75 / 360);
      height: auto;
    }
    .area-inner {
      height: 100%;
    }
  }
  .box__info-list {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;

    @include for-mobile-tablet-all {
      display: block;
      table-layout: unset;
    }

    .box__info-list-item {
      display: table-cell;
      vertical-align: middle;

      @include for-mobile-tablet-all {
        display: block;
      }

      span {
        display: block;
        min-width: 60px;
        font-size: 0;
        text-indent: -9999px;
        margin: 0 auto;
      }

      &.name__kotra {
        span {
          width: 104px;
          height: 27px;
          background: transparent url('/images/logos/logo_kotra.svg') no-repeat center center;
        }

        @include for-mobile-tablet-all {
          margin-bottom: percentage(60 / 360);

          span {
            width: percentage(104 / 360);
            height: 0;
            padding-top: percentage(27 / 360);
            background: transparent url('/images/logos/logo_kotra.svg') no-repeat center center / 100%;
          }
        }
      }

      &.name__MainCon {
        span {
          width: 180px;
          height: 45px;
          background: transparent url('/images/logos/logo_main.png') no-repeat center center / 100% auto;
        }

        @include for-mobile-tablet-all {
          margin-bottom: percentage(60 / 360);

          span {
            width: percentage(100 / 360);
            height: 0;
            padding-top: percentage(61 / 360);
            background: transparent url('/images/logos/logo_main.png') no-repeat center center / 100%;
          }
        }
      }

      &.name__KORAC {
        span {
          width: 76px;
          height: 70px;
          background: transparent url('/images/logos/logo_KORAC.png') no-repeat center center;
        }

        @include for-mobile-tablet-all {
          margin-bottom: percentage(60 / 360);

          span {
            width: percentage(127 / 360);
            height: 0;
            padding-top: percentage(23 / 360);
            background: transparent url('/images/logos/logo_KORAC.png') no-repeat center center / 100%;
          }
        }
      }

      &.name__uptownSeoul {
        span {
          width: 120px;
          height: 31px;
          background: transparent url('/images/logos/logo_uptownSeoul.svg') no-repeat center center;
        }

        @include for-mobile-tablet-all {
        	margin-bottom: percentage(60 / 360);
v
          span {
            width: percentage(120 / 360);
            height: 0;
            padding-top: percentage(31 / 360);
            background: transparent url('/images/logos/logo_uptownSeoul.svg') no-repeat center center / 100%;
          }
        }
      }

      &.name__SeoulCam {
        span {
          width: 200px;
          height: 68px;
          background: transparent url('/images/logos/logo_Seoul.svg') no-repeat center center;
        }

        @include for-mobile-tablet-all {
        	margin-bottom: percentage(60 / 360);

          span {
            width: percentage(110 / 360);
            height: 0;
            padding-top: percentage(30 / 360);
            background: transparent url('/images/logos/logo_Seoul.svg') no-repeat center center / 100%;
          }
        }
      }

      &.name__NUS {
        span {
          width: 120px;
          height: 55px;
          background: transparent url('/images/logos/logo_NUS.png') no-repeat center center;
        }

        @include for-mobile-tablet-all {
        	margin-bottom: percentage(60 / 360);

          span {
            width: percentage(100 / 360);
            height: 0;
            padding-top: percentage(60 / 360);
            background: transparent url('/images/logos/logo_NUS.png') no-repeat center center / 100%;
          }
        }
      }
      &.name__POSTECH {
        span {
          width: 200px;
          height: 68px;
          background: transparent url('/images/logos/logo_POSTECH.png') no-repeat center center;
        }

        @include for-mobile-tablet-all {
          margin-bottom: percentage(60 / 360);

          span {
            width: percentage(100 / 360);
            height: 0;
            padding-top: percentage(60 / 360);
            background: transparent url('/images/logos/logo_POSTECH.png') no-repeat center center / 100%;
          }
        }
      }
      &.name__MEMEWE {
        span {
          margin-top: -15%;
          width: 300px;
          height: 80px;
          background: transparent url('/images/logos/logo_memewe.gif') no-repeat center center;
        }

        @include for-mobile-tablet-all {
          margin-bottom: percentage(60 / 360);

          span {
            width: percentage(100 / 360);
            height: 0;
            padding-top: percentage(60 / 360);
            background: transparent url('/images/logos/logo_memewe.gif') no-repeat center center / 100%;
          }
        }
      }
      &.name__KITA {
        span {
          width: 206px;
          height: 42px;
          background: transparent url('/images/logos/logo_KITA.png') no-repeat center center;
        }

        @include for-mobile-tablet-all {
          margin-bottom: percentage(60 / 360);

          span {
            width: percentage(100 / 360);
            height: 0;
            padding-top: percentage(60 / 360);
            background: transparent url('/images/logos/logo_KITA.png') no-repeat center center / 100%;
          }
        }
      }
      &.name__iGroupKorea {
        span {
          width: 220px;
          height: 40px;
          background: transparent url('/images/logos/logo_iGroupKorea.jpg') no-repeat center center;
        }

        @include for-mobile-tablet-all {
          margin-bottom: percentage(60 / 360);

          span {
            width: percentage(100 / 360);
            height: 0;
            padding-top: percentage(60 / 360);
            background: transparent url('/images/logos/logo_iGroupKorea.jpg') no-repeat center center / 100%;
          }
        }
      }
    }
  }
}
