@import '../../lib/mixin';

$lightgray: #9b9b9b;

.footer {
  display: block;
  margin-top: 100px;
  padding: 63px 19px 66px;
  background-color: #282828;
  color: $lightgray;

  &.admin {
    margin-top: 0;

    .btn__login {
      display: none;
    }
  }

  @include for-mobile-tablet-all {
    // height: 780px;
    margin-top: 0;
    padding: percentage(60 / 360) percentage(53 / 360) percentage(62 / 360) percentage(41 / 360);
    box-sizing: border-box;
  }

  .footer__logo {
    display: inline-block;
    width: 126px;
    height: 29px;
    background: transparent url('/images/common/logo_robotry_gray.svg') no-repeat center center;
    vertical-align: top;
    font-size: 0;
    text-indent: -9999px;

    // @include for-mobile-tablet-all {
    //   display: block;
    //   width: percentage(126 / 360);
    //   padding-top: percentage(29 / 360);
    //   height: 0;
    //   background: transparent url('/images/common/logo_robotry_gray.svg') no-repeat center center / 100%;
    // }
  }

  .footer__nav-extended {
    display: inline-block;
    width: calc(100% - 126px - 26px);
    margin-left: 26px;
    vertical-align: top;

    @include for-mobile-tablet-all {
      width: 100%;
      margin: percentage(39 / 360)  0 0 0;
    }

    .nav-extended {
      font-size: 0;

      li {
        display: inline-block;
        min-width: 22px;
        height: 23px;
        vertical-align: top;
        margin-right: 26px;

        a {
          display: block;
          width: 100%;
          height: 100%;
          font-size: 0;
          text-indent: -9999px;
        }

        &.nav-extended__item-facebook {
          background: transparent url('/images/icons/icon_facebook_gray.svg') no-repeat center center;
        }

        &.nav-extended__item-Instagram {
          background: transparent url('/images/icons/icon_instagram_gray.svg') no-repeat left center;
        }

        &.nav-extended__item-KakaoTalkPlus {
          background: transparent url('/images/icons/icon_kakaotalkplus_gray.svg') no-repeat left center;
        }
      }

      li:last-child {
        margin-right: 0;
        background: transparent url('/images/icons/icon_shop_gray.svg') no-repeat left center;
        
        a {
          display: block;
          padding-left: 25px;
          font-size: 14px;
          text-indent: 0;
          text-decoration: underline;
          box-sizing: border-box;
          color: $lightgray;
          text-transform: uppercase;
        }
      }
    }
  }

  .footer__info {
    margin-top: 19px;

    @include for-mobile-tablet-all {
      margin-top: percentage(36 / 360);
    }

    p {
      line-height: 22px;

      span {
        display: inline-block;
        vertical-align: top;

        &:before {
          content: "|";
          display: inline-block;
          width: 26px;
          text-align: center;
        }

        &:first-child {
          &:before {
            display: none;
          }
        }
      }

      @include for-mobile-tablet-all {
        &:first-child {
          span {
            &:first-child {
              + span {
                &:before {
                  content: "|";
                  display: inline-block;
                  width: 26px;
                  text-align: center;
                }
              }
            }
          }
        }

        span {
          &:before {
            display: none;
          }
        }
      }
    }

    a {
      color: $lightgray;
    }
  }

  small {
    display: inline-block;
    margin-top: 24px;
    color: #646464;
    font-size: 14px;
    line-height: 22px;
  }

  .btn__login {
    float: right;
    display: inline-block;
    min-width: 137px;
    height: 28px;
    border-radius: 14px;
    border: 1px solid #646464;
    text-align: center;
    color: #646464;
    font-size: 15px;
    line-height: 28px;

    @include for-mobile-tablet-all {
      display: none;
    }
  }

  .footer-inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
  }
}