@import '../../lib/mixin';

$navy: #175884;
$khaki: #457a1b;
$black: #282828;

.visual {
  &.lid {
    margin-bottom: 6px;
    background: $black url('/images/bg/bg_banner_lid.jpg') no-repeat center center / auto 380px;
  }
}

.area__lidvision {
  position: relative;
  z-index: 2;
  padding: 153px 0 250px;
  overflow: hidden;

  @include for-mobile-tablet-all {
    padding: 59px 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    display: block;
    width: 957px;
    height: 957px;
    margin-left: -478.5px;
    background-color: #fafafa;
    transform: rotate(45deg);

    @include for-mobile-tablet-all {
      display: none;
    }
  }

  h1 {
    padding: 55px 0 62px;
    font-size: 30px;
    font-weight: bold;
    color: #282828;
    text-align: center;
    background: transparent url('/images/bg/bg_lid_benefit.png') no-repeat center center / contain;
  }

  .box__info {
    position: relative;
    z-index: 3;
    margin-top: 27px;

    @include for-mobile-tablet-all {
      margin-top: 0;
      padding-top: 148px;
    }

    .box__info-graph {
      ul {
        max-width: 670px;
        margin: 0 auto;
        font-size: 0;

        @include for-mobile-tablet-all {
          max-width: 274px;
        }
  
        li {
          display: inline-block;
          min-width: 60px;
          margin-left: 60px;

          @include for-mobile-tablet-all {
            display: block;
            width: 100%;
            margin: 0;
          }
  
          &:first-child {
            margin-left: 0;
          }
  
          .box__info-image {
            display: block;

            @include for-mobile-tablet-all {
              position: relative;
              z-index: 4;
            }
  
            > i {
              display: block;
              width: 22px;
              height: 184px;
              background-color: $navy;
              margin: 0 auto;
              font-size: 0;
              text-indent: -9999px;
              overflow: hidden;
              border-radius: 11px;

              @include for-mobile-tablet-all {
                position: absolute;
                top: 20px;
                left: 49px;
                display: inline-block;
                width: 184px;
                height: 22px;
              }
  
              span {
                font-size: 0;
                color: transparent;
                text-indent: -9999px;
              }
            }
  
            strong {
              position: relative;
              z-index: 2;
              display: block;
              width: 100%;
              margin-top: -11px;

              @include for-mobile-tablet-all {
                display: inline-block;
                min-width: 60px;
                max-width: 65px;
                margin: 0;
                vertical-align: middle;
              }
  
              &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                z-index: -1;
                display: block;
                width: 60px;
                height: 60px;
                background-color: #fff;
                border: 1px solid #e6e6e6;
                border-radius: 50%;
                margin-left: -30px;
              }
  
              span {
                display: block;
                width: 100%;
                padding-top: 70px;
                color: $navy;
                font-weight: bold;
                font-size: 14px;
                line-height: 31px;
                text-align: center;
              }
            }
  
            &.plasticpack {
              strong {
                span {
                  background: transparent url('/images/icons/icon_plasticpack.svg') no-repeat center 12px / 37px;
                }
              }
            }
  
            &.bottlecaps {
              > i {
                height: 164px;

                @include for-mobile-tablet-all {
                  height: 22px;
                  width: 164px;
                }
              }
  
              strong {
                span {
                  background: transparent url('/images/icons/icon_bottlecaps.svg') no-repeat center 14px / 34px;
                }
              }
            }
  
            &.straw {
              > i {
                height: 122px;
                background-color: $khaki;

                @include for-mobile-tablet-all {
                  height: 22px;
                  width: 122px;
                }
              }
  
              strong {
                span {
                  color: $khaki;
                  background: transparent url('/images/icons/icon_straw.svg') no-repeat center 15px / 20px 31px;
                }
              }
            }
  
            &.lid {
              > i {
                height: 104px;
                background-color: $khaki;

                @include for-mobile-tablet-all {
                  height: 22px;
                  width: 104px;
                }
              }
  
              strong {
                span {
                  color: $khaki;
                  background: transparent url('/images/icons/icon_lid.svg') no-repeat center 14px / 27px 35px;
                }
              }
            }
  
            &.plasticbag {
              > i {
                height: 132px;

                @include for-mobile-tablet-all {
                  width: 132px;
                  height: 22px;
                }
              }
  
              strong {
                span {
                  background: transparent url('/images/icons/icon_plasticbag.svg') no-repeat center 12px / 31px 38px;
                }
              }
            }
  
            &.bottle {
              > i {
                height: 147px;

                @include for-mobile-tablet-all {
                  height: 22px;
                  width: 147px;
                }
              }
  
              strong {
                span {
                  background: transparent url('/images/icons/icon_bottle.svg') no-repeat center 12px / 20px 36px;
                }
              }
            }
          }
        }
      }
  
      .box__info-target__text {
        position: absolute;
        top: 116px;
        left: 50%;
        display: block;
        width: 300px;
        height: 35px;
        margin-left: -137px;
        border-radius: 17.5px;
        background-color: rgba(0, 0, 0, .6);
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        line-height: 36px;
        color: #fff;

        @include for-mobile-tablet-all {
          top: 74px;
          z-index: 5;
        }
      }
    }

    p {
      margin: 69px 0 146px;
      text-align: center;
      font-size: 17px;
      line-height: 27px;

      @include for-mobile-tablet-all {
        max-width: 320px;
        margin: 40px auto 0;
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}

.area__lidinfo {
  padding: 78px 0 23px;

  @include for-mobile-tablet-all {
    padding: 59px 0 136px;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
    color: #282828;
    text-align: center;

    @include for-mobile-tablet-all {
      font-size: 25px;
    }
  }

  .box__info {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 988px;
    height: 706px;
    margin: 79px auto 73px;

    @include for-mobile-tablet-all {
      max-width: 298px;
      margin: 63px auto 88px;
      height: 510px;
    }

    .box__info-text1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      display: block;
      padding: 27px 0 0 118px;
      font-size: 30px;
      color: #000;
      line-height: 1.5;

      @include for-mobile-tablet-all {
        padding: 28px 0 0 18px;
        z-index: 4;
        font-size: 18px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: block;
        width: 93px;
        height: 70px;
        background: transparent url('/images/icons/icon_doubleQuotes_open.svg') no-repeat 0 0;

        @include for-mobile-tablet-all {
          width: 66px;
          height: 50px;
          z-index: -1;
          background: transparent url('/images/icons/icon_doubleQuotes_open.svg') no-repeat 0 0 / 100%;
        }
      }
    }

    .box__info-text2 {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 3;
      display: block;
      padding-right: 118px;
      font-size: 30px;
      color: #000;
      line-height: 1.5;
      text-align: right;

      @include for-mobile-tablet-all {
        padding-right: 20px;
        font-size: 18px;
      }

      &:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 59px;
        z-index: 3;
        display: block;
        width: 93px;
        height: 70px;
        background: transparent url('/images/icons/icon_doubleQuotes_close.svg') no-repeat 0 0;

        @include for-mobile-tablet-all {
          width: 66px;
          height: 51px;
          bottom: 73px;
          z-index: -1;
          background: transparent url('/images/icons/icon_doubleQuotes_close.svg') no-repeat 0 0 / 100%;
        }
      }
    }

    .box__info-image {
      display: block;
      width: 637px;
      height: 706px;
      margin: 0 auto;

      @include for-mobile-tablet-all {
        width: 100%;
        height: auto;
        padding-top: 115px;
      }

      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }

  .box__info-list {
    padding: 73px 0 23px;
    width: 100%;
    max-width: calc(297px * 3);
    margin: 0 auto;
    font-size: 0;

    @include for-mobile-tablet-all {
      padding: 0;
      max-width: 298px;
    }

    .box__info-list-item {
      display: inline-block;
      width: 297px;
      height: 381px;
      padding: 64px 40px 40px;
      vertical-align: top;
      border: 1px solid #e6e6e6;
      border-left: none;
      box-sizing: border-box;

      @include for-mobile-tablet-all {
        display: block;
        border: 1px solid #e6e6e6;
        margin-top: 11px;
      }

      &:first-child {
        border-left: 1px solid #e6e6e6;

        @include for-mobile-tablet-all {
          margin-top: 0;
        }
      }

      span,
      strong {
        display: block;
      }

      .box__image {
        height: 100px;
        text-align: center;
      }

      .box__info-title {
        margin-top: 40px;
        font-size: 25px;
        font-weight: bold;
        color: #282828;
        text-align: center;
      }

      .box__info-desc {
        margin-top: 16px;
        font-size: 17px;
        line-height: 27px;
        color: #000;
        text-align: center;
        white-space: pre-line;
      }
    }
  }
}