@import '../../lib/mixin';

$black: #282828;

.visual {
  &.voucher {
    background: $black url('/images/bg/bg_banner_papertoy.jpg') no-repeat center center / auto 380px;
  }
}

.box__slider {
  .slide {
    background: none;
  }

  .carousel,
  .carousel-slider {
    .control-arrow {
      opacity: 1;
      width: 56px;
      height: 56px;
      top: 50%;
      margin: -28px 5px 5px;
      border-radius: 50%;
      padding: 0;
  
      &:before {
        display: none;
      }
  
      &.control-prev {
        left: 0;
        background: transparent url('/images/icons/icon_slideArrow.png') no-repeat center center / 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
      }
  
      &.control-next {
        right: 0;
        background: transparent url('/images/icons/icon_slideArrow.png') no-repeat center center / 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
        transform: rotate(180deg);
      }
    }

    @include for-mobile-tablet-all {
      .control-dots {
        top: 0;
        left: 50%;
        bottom: unset;
        width: 320px;
        margin-top: percentage(0 / 360);
        margin-left: -160px;

        .dot {
          box-shadow: none;
          width: 11px;
          height: 11px;
          background: #d8d8d8;
          margin: 0 6px;

          &.selected {
            background: #ffc72c;
          }
        }
      }
    }
  }
}

.area__voucher {
  padding: 133px 0 206px;

  @include for-mobile-tablet-all {
    padding: 80px 0 77.5px;
  }

  .box__slider {
    padding-top: 117px;

    @include for-mobile-tablet-all {
      padding-top: 82px;
    }

    .carousel-slider {
      padding: 0 95px;
      margin: 0 auto;

      @include for-mobile-tablet-all {
        padding: 0;
      }
    }

    .box__slider-item {
      width: 100%;
      max-width: 950px;
      margin: 0 auto;

      @include for-mobile-tablet-all {
        max-width: 100%;
      }
    }

    .box__text {
      display: inline-block;
      width: 900px;
      margin-top: 77px;
      text-align: left;

      @include for-mobile-tablet-all {
        width: 100%;
        margin-top: 80px;
        text-align: center;
      }

      .status {
        display: inline-block;
        margin-bottom: 10px;
        color: #9b9b9b;
        font-size: 14px;
        font-weight: bold;

        em {
          color: #ffc72c;
          font-size: 14px;
          font-weight: bold;
        }
      }

    p {
      margin-top: 14px;
      font-size: 50px;
      color: #282828;
      line-height: 29px;
      text-align: center;
    }
      h3 {
        width: 330px;
        font-size: 35px;
        font-weight: bold;
        color: #000;

        @include for-mobile-tablet-all {
          display: inline-block;
        }
      }

      strong {
        display: block;
        padding-top: 20px;
        font-size: 20px;
        

        @include for-mobile-tablet-all {
          padding-top: 17px;
        }

        + span {
          display: block;
          margin-top: 17px;
          font-size: 14px;
        }
      }
    }

    .box__image {
      display: inline-block;

      vertical-align: top;

      @include for-mobile-tablet-all {
        width: 100%;
        height: auto;
        overflow: hidden;
      }

      .frame__image {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
      }
    }

    .carousel-status {
      top: 45px;
      right: inherit;
      left: 50%;
      display: inline-block;
      width: 950px;
      padding: 0;
      margin-left: -475px;
      font-size: 14px;
      text-shadow: none;
      color: #9b9b9b;
    }

    .control-arrow {
      &.control-prev {
        left: 0;
      }

      &.control-next {
        right: 0;
      }
    }
  }
}



.box__info {
 margin-top: 100px;
 
    @include for-mobile-tablet-all {
      margin-top: 114px;
    }

    h1 {
      position: relative;
      z-index: 3;
      padding-top: 28px;
      font-size: 25px;
      line-height: 50px;
      text-align: center;
      color: #282828;
      font-weight: bold;

      @include for-mobile-tablet-all {
        padding-top: 60px;
      }

      &:after {
        content: "Screenshot the voucher!";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;
        width: 800px;
        margin-left: -400px;
        font-size: 60px;
        line-height: 50px;
        color: #e6e6e6;

        @include for-mobile-tablet-all {
          content: "Screenshot\Athe voucher!";
          font-size: 40px;
          white-space: pre;
          line-height: 1;
        }
      }
    }

    p {
      margin-top: 14px;
      font-size: 20px;
      color: #282828;
      line-height: 29px;
      text-align: center;
    }
  }

