@import '../../lib/mixin';

$black: #282828;

.visual {
  &.portfolio {
    background: $black url('/images/bg/bg_banner_portfolio.jpg') no-repeat center center / auto 380px;
  }
}

.container-contents__portfolio {
  background: #fff url('/images/bg/bg_portfolio_outsourcing.svg') no-repeat left 410px;

  @include for-mobile-tablet-all {
    background: none;
  }
}

.box__slider {
  .slide {
    background: none;
  }

  .carousel,
  .carousel-slider {
    .control-arrow {
      opacity: 1;
      width: 56px;
      height: 56px;
      top: 50%;
      margin: -28px 5px 5px;
      border-radius: 50%;
      padding: 0;
  
      &:before {
        display: none;
      }
  
      &.control-prev {
        left: 0;
        background: transparent url('/images/icons/icon_slideArrow.png') no-repeat center center / 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
      }
  
      &.control-next {
        right: 0;
        background: transparent url('/images/icons/icon_slideArrow.png') no-repeat center center / 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
        transform: rotate(180deg);
      }
    }

    @include for-mobile-tablet-all {
      .control-dots {
        top: 0;
        left: 50%;
        bottom: unset;
        width: 320px;
        margin-top: percentage(248 / 360);
        margin-left: -160px;

        .dot {
          box-shadow: none;
          width: 11px;
          height: 11px;
          background: #d8d8d8;
          margin: 0 6px;

          &.selected {
            background: #6abb2a;
          }
        }
      }
    }
  }
}

.area__outsourcing {
  padding: 133px 0 206px;

  @include for-mobile-tablet-all {
    padding: 80px 0 77.5px;
  }

  .box__slider {
    padding-top: 117px;

    @include for-mobile-tablet-all {
      padding-top: 82px;
    }

    .carousel-slider {
      padding: 0 95px;
      margin: 0 auto;

      @include for-mobile-tablet-all {
        padding: 0;
      }
    }

    .box__slider-item {
      width: 100%;
      max-width: 950px;
      margin: 0 auto;

      @include for-mobile-tablet-all {
        max-width: 100%;
      }
    }

    .box__text {
      display: inline-block;
      width: 300px;
      margin-top: 77px;
      text-align: left;

      @include for-mobile-tablet-all {
        width: 100%;
        margin-top: 80px;
        text-align: center;
      }

      .status {
        display: inline-block;
        margin-bottom: 10px;
        color: #9b9b9b;
        font-size: 14px;
        font-weight: bold;

        em {
          color: #6abb2a;
          font-size: 14px;
          font-weight: bold;
        }
      }

      h3 {
        width: 230px;
        font-size: 25px;
        font-weight: bold;
        color: #000;

        @include for-mobile-tablet-all {
          display: inline-block;
        }
      }

      strong {
        display: block;
        padding-top: 111px;
        font-size: 14px;
        font-weight: bold;

        @include for-mobile-tablet-all {
          padding-top: 17px;
        }

        + span {
          display: block;
          margin-top: 17px;
          font-size: 14px;
        }
      }
    }

    .box__image {
      display: inline-block;
      width: 650px;
      height: 430px;
      padding-bottom: 10px;
      vertical-align: top;

      @include for-mobile-tablet-all {
        width: 100%;
        height: auto;
        overflow: hidden;
      }

      .frame__image {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
      }
    }

    .carousel-status {
      top: 45px;
      right: inherit;
      left: 50%;
      display: inline-block;
      width: 950px;
      padding: 0;
      margin-left: -475px;
      font-size: 14px;
      text-shadow: none;
      color: #9b9b9b;
    }

    .control-arrow {
      &.control-prev {
        left: 0;
      }

      &.control-next {
        right: 0;
      }
    }
  }
}

.area__education {
  padding: 100px 0 48px;
  background: transparent url('/images/bg/bg_portfolio_education.jpg') no-repeat right center / 793px auto;

  @include for-mobile-tablet-all {
    max-width: 320px;
    margin: 0 auto;
    padding: 77.5px 0 57.5px;
    background: transparent url('/images/bg/bg_portfolio_education.jpg') no-repeat 49px 141.5px / 291px auto;
  }

  @include for-desktop-small {
    background: transparent url('/images/bg/bg_portfolio_education.jpg') no-repeat right / 30% auto;
  }

  // @include for-mobile-tablet-all {
  //   background: transparent url('/images/bg/bg_portfolio_education.jpg') no-repeat right center / 50% auto;
  // }

  .area__info-list {
    width: 100%;
    max-width: 640px;
    margin: 162px auto 0;
    padding-bottom: 207px;

    @include for-mobile-tablet-all {
      max-width: percentage(279 / 320);
      margin: 327px auto 0;
      padding-bottom: 0;
    }

    .info-list-item {
      color: #000;
      font-size: 21px;
      line-height: 51px;

      @include for-mobile-tablet-all {
        font-size: 16px;
        line-height: 40px;
      }

      &:before {
        content: "";
        display: inline-block;
        width: 11px;
        height: 11px;
        background-color: #000;
        border-radius: 50%;
        margin-right: 25px;
        vertical-align: 3px;

        @include for-mobile-tablet-all {
          margin-right: 14px;
        }
      }

      span {
        font-size: 21px;
        font-weight: 100;
        margin-right: 10px;

        @include for-mobile-tablet-all {
          font-size: 17px;
        }
      }
    }
  }
}

.area__exhibition {
  padding: 48px 0 23px;

  @include for-mobile-tablet-all {
    padding: 57.5px 0 187px;
  }

  .box__tab {
    width: 100%;
    max-width: 939px;
    height: 60px;
    margin: 0 auto;
    padding-top: 112px;

    @include for-mobile-tablet-all {
      max-width: 100%;
      padding-top: 73px;
    }

    ul {
      width: 100%;
      height: 100%;
      font-size: 0;

      li {
        display: inline-block;
        width: 33.33%;
        height: 100%;
        margin-left: -1px;
        padding: 16px 13px 15px 13px;
        border: 1px solid #e6e6e6;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        vertical-align: top;

        span {
          font-size: 20px;
          color: #000;
          line-height: 22px;
        }

        &:first-child {
          margin-left: 0;
        }

        &.tab__selected {
          background-color: #6abb2a;

          span {
            font-weight: bold;
            color: #fff;
          }
        }
      }
    }
  }

  .box__contents {
    width: 100%;
    max-width: 1150px;
    margin: 24px auto 0;

    .box__contents-list {
      height: auto;

      @include for-mobile-tablet-all {
        height: auto;
      }
    }

    .box__slider {
      .carousel-slider {
        padding: 0 105px;

        @include for-mobile-tablet-all {
          padding: 0;

          .control-dots {
            margin-top: percentage(227 / 360);
          }
        }
      }
    }

    .box__image {
      width: 100%; height: 200px;
      margin: 0 auto;
      
      overflow: hidden;
      

      @include for-mobile-tablet-all {
        position: relative;
        z-index: 10;
        max-width: 940px;
        padding-top: percentage(191 / 360);
        height: 0;
      }

      img {
        overflow: hidden;
        @include for-mobile-tablet-all {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 11;
          max-width: 100%;
          margin: auto;
        }
      }
    }

    .box__text {
      width: 100%;
      max-width: 940px;
      margin: 0 auto;
      overflow: hidden;
      font-size: 0;

      @include for-mobile-tablet-all {
        max-width: 100%;
      }

      span {
        width: 50%;
        display: inline-block;
        font-weight: bold;
        color: #000;
        vertical-align: top;

        @include for-mobile-tablet-all {
          display: block;
          width: 100%;
        }

        &.text__status {
          padding-top: 20px;
          font-size: 14px;
          text-align: left;
          text-indent: 20px;
        }

        &.text__place {
          padding-top: 15px;
          font-size: 20px;
          text-align: right;

          @include for-mobile-tablet-all {
            padding-top: percentage(73 / 360);
            text-align: center;
            font-size: 25px;
          }
        }

        &.text__place-full {
          width: 100%;
          padding-top: 15px;
          font-size: 20px;
          text-align: right;

          @include for-mobile-tablet-all {
            padding-top: percentage(73 / 360);
            text-align: center;
            font-size: 25px;
          }
        }
      }
    }
  }
}